.container{
  position:relative;
  width: 300px;
  height: 300px:;
}
body
{
background: rgb(240,183,161); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(240,183,161,1) 0%, rgba(255,234,234,1) 19%, rgba(137,94,78,1) 34%, rgba(117,34,1,1) 54%, rgba(206,185,185,1) 78%, rgba(191,110,78,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(240,183,161,1)), color-stop(19%,rgba(255,234,234,1)), color-stop(34%,rgba(137,94,78,1)), color-stop(54%,rgba(117,34,1,1)), color-stop(78%,rgba(206,185,185,1)), color-stop(100%,rgba(191,110,78,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(240,183,161,1) 0%,rgba(255,234,234,1) 19%,rgba(137,94,78,1) 34%,rgba(117,34,1,1) 54%,rgba(206,185,185,1) 78%,rgba(191,110,78,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(240,183,161,1) 0%,rgba(255,234,234,1) 19%,rgba(137,94,78,1) 34%,rgba(117,34,1,1) 54%,rgba(206,185,185,1) 78%,rgba(191,110,78,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(240,183,161,1) 0%,rgba(255,234,234,1) 19%,rgba(137,94,78,1) 34%,rgba(117,34,1,1) 54%,rgba(206,185,185,1) 78%,rgba(191,110,78,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(240,183,161,1) 0%,rgba(255,234,234,1) 19%,rgba(137,94,78,1) 34%,rgba(117,34,1,1) 54%,rgba(206,185,185,1) 78%,rgba(191,110,78,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
a {text-decoration:none;}
.name{
  white-space: nowrap;
  line-height:40px;
  letter-spacing:1px;
  /*font-family: 'PT Sans', arial, serif;*/
  font-family: "Helvetica Neue";
  font-weight:100;
  color:#ffffff;
  text-align:center;
  font-size:20px;
  text-decoration: none;
}
.small-img{
  width:200;
  height:200px;
  margin-top:20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-filter: blur(1px);
}


.background-img{
  position:absolute;
  z-index = -10;
  height: 2000px;
  width: 2000px;
  margin:0px;
  -webkit-filter: blur(5px);
}

.ele{
  position:absolute;
  width: 280px;
  height: 280px;
  text-align:center;  
  padding:10px;
  border: 1px solid rgba(0,0,0,0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: rgba(40,40,40,0.5);
  margin: 10px;
  display: inline-block;
  text-decoration: none;
}

#HI {
   display: block;
   width: 400px; height: 400px;
   border: thin solid red;
   top: 10px;
   left: 10px;
   -webkit-transform-style: preserve-3d;
   -webkit-transform: translateZ(300px);
   -webkit-perspective: 1000px;
}
